[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-environ = "*"
django-rest-framework = "*"
djangorestframework-simplejwt = "*"

[requires]
python_version = "3.8"
